.homeSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 16px 140px;
}

.homeHeader {
  height: 297px;
  background-color: #b0b0b033;
  border-radius: 10px;
  padding: 9px 7px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
  position: relative;
}

.homeHeaderHead {
  font-size: 24px;
  font-family: inter;
  font-weight: 500;
  color: #000;
}

.homeHeaderSubhead {
  font-size: 16px;
  font-weight: normal;
  color: #000;
}

.homeHeaderBox {
  width: 96px;
  height: 94px;
  border-radius: 20px;
  background-color: #d9d9d9;
  position: absolute;
}

.homeHeaderBoxPosition1{
    right:7px;
    bottom:42px
}

.homeHeaderBoxPosition2{
    right:84px;
    bottom:-24px
}

.homeAboutUs{
    width: 100%;
    height: 343px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    padding: 7px 32px 0px;
    background-color: rgba(234, 233, 252, 0.4);
}

.homeAboutUs2{
    height: 373px;
}

.homeAboutUsHead{
  font-family: inter;
  font-size: 20px;
  color: #000;
  font-weight: normal;
}

.homeAboutUsContent{
    width: 100%;
    height: 100%;
    margin-top: 56px;
}

.homeAboutUsContent2{
    margin-top:88px;
}

.homeAboutUsContentInside{
    width: 93px;
    height: 181px;
    border-radius: 20px;
    background-color: #d9d9d9;
}

.slider-container {
    width: 100%;
    overflow: hidden;  
    position: relative;
    margin-top: 30px;
  }
  
  
  .slider {
    display: flex;
    animation: slide 20s linear infinite;  
    width: max-content; 
  }
  
  
  .slide {
    flex: 0 0 auto;     
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px
  }

  .sliderLogo{
    width: 30px;
    height: 30px;
  }

  .sliderText{
    font-size: 18px;
    font-weight: 500;
  }

  .offerBox{
    padding: 18px 16px;
    border: solid 1px rgba(176, 176, 176, 0.5);
    border-radius: 20px;
    margin-left: 20px;
    height: 247px;
  }

  .offerName{
    color: #121417;
    font-size: 16px;
    font-weight: normal;
  }

  .offerPrice{
    color:#121417 ;
    font-size: 18px;
    font-weight: 500;
  }

  .offerItems{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 14px;
  }

  .offerItem{
    display: flex;
    gap: 7px;
    font-size: 11px;
    color: #121417;
    font-weight: 300;
    width: 100%;
    align-items: flex-start; /* Ensures proper alignment */
    overflow: hidden;
}


    
  
  .offerItemName{
    overflow: hidden;      /* Hide overflow text */
    text-overflow: ellipsis;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);  
    }
    100% {
      transform: translateX(-50%);  
    }
  }

  @media (min-width:768px) {
  }
  